body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

input[type="button"] {
  border: none;
  background: rgb(91, 59, 231);
  color: rgb(255, 255, 255);
  padding: 12px 24px;
  margin: 8px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: rgb(117, 92, 228);
}

input[type="button2"] {
  text-align: center;
  border: rgb(47, 16, 187);
  background: rgb(91, 59, 231);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 8px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

input[type="button2"]:hover {
  background-color: rgb(117, 92, 228);
}

.bg-home {
  background-image: url(./data/bonecho01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
}
.top-section {
  background-color: rgb(206, 198, 240);
  height: 70px;
  width: 100%;
}
.overall-bg {
  background-color: rgb(206, 198, 240);
}
.top-section2 {
  background-color: rgb(143, 123, 233);
  height: 70px;
  width: 100%;
}
